@label-width: 160px;
@field-width: 400px;

fieldset {
  @fieldset-padding: 12px;
  padding: @fieldset-padding;
  width: @label-width + @field-width + @fieldset-padding * 2;
  margin: 20px auto;
}

fieldset > div {
  line-height: 36px;
  font-size: 18px;
  height: 36px;
  vertical-align: top;
}

label {
  width: @label-width;
  display: inline-block;
  text-align: right;
}

input[type=text] {
  width: @field-width;
  height: 28px;
  font-size: 16px;
}

textarea {
  margin-top: 4px;
  width: @label-width + @field-width;
  height: 36px * 4;
  font-size: 16px;
}

.footer {
  font-size: 10px;
  text-align: center;
}
